# ------------------------------------------------------------------------------
# ATTENTION
#
# This file is copied by default to the Terragrunt working directory (where
# Terraform is called). If there's any other "internal" .tool-versions file
# (e.g. development/.tool-versions), it will be copied instead. See the
# "generate" block in the root terragrunt.hcl file for more information.
# ------------------------------------------------------------------------------

terraform 1.3.9
terragrunt 0.43.2
shellcheck 0.9.0
